.glossary-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  margin-top: 40px;
  font-family: var(--font-family);
}
.g-title {
  height: 22px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
  line-height: 22px;
  color: var(--text-primary);
}
.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  text-align: left;
  margin: 1.5rem 0;
}
.e-title {
  height: 22px;
  text-align: center;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-primary);
}
.e-para {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: var(--text-primary);
}
.g-title2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 10px;
  width: 90vw;
  height: 22px;
}
.g-title2 p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #13161a;
}
.g-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 90vw;
  height: 106px;
}
.g-items-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 90vw;
  height: 22px;
}
.g-items-title p {
  width: auto;
  height: 22px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #13161a;
}
.g-items-para {
  width: 90vw;
  height: 72px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
  color: var(--text-primary);
}
