:root {
  --primary400: #2b94ff;
  --primary500: #0071e3;
  --primary600: #0055aa;
  --primary700: #003e7d;
  --primary800: #0c1f56;
  --primary900: #06102b;
  --placeholder: #647488;
  --Neutral100: #e7eaee;
  --Neutral600: #4b5768;
  --bgwhite: #ffffff;
}

.home-wrapper {
  min-width: 360px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.home-wrapper::-webkit-scrollbar {
  display: none;
}
/* Chapter list strat */
.chapter-list-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: sticky;
  top: 48px;
  padding: 0px;
  width: 360px;
  height: 40px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background: #ffffff;
}
.chapter-list-wrapper::-webkit-scrollbar {
  display: none;
}
.chapter-list-items {
  box-sizing: border-box;
  min-width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: auto;
  height: 40px;
  border-bottom: 1px solid var(--primary400);
  border-radius: 8px 8px 0px 0px;
}
li {
  list-style-type: none;
  text-decoration: none;
  height: 16px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #0055aa;
}
/* Chapter list End */

/* varse wrapper start */
.verse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 16px 0px 0px;
  gap: 6px;
  min-width: 360px;
  height: auto;
  background: #ffffff;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.verse-wrapper::-webkit-scrollbar {
  display: none;
}
.verse-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 10px;
  min-width: 328px;
  height: auto;
  background: #ffffff;
  /* border-radius: 6px; */
  border-bottom: 0.5px solid #e7eaee;
}
/* .line {
  width: 328px;
  height: 0px;
  border: 0.7px solid #e7eaee;
} */
.verse-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  min-width: 328px;
  height: 20px;
}
.verse-num {
  width: 21px;
  height: 19px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 19px; */
  color: #4b5768;
}
.more-btn-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #4b5768;
  border: none;
}
.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.verse-text {
  width: 310px;
  height: auto;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 19px; */
  color: #4b5768;
}
.verse-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 70px;
  height: auto;
}
.verse-link-item {
  width: 29px;
  height: 19px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #0071e3;
}
.btn-wrapper {
  width: 76px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-wrapper button {
  color: #0071e3;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

/* icons-wrapper start*/

.icons-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: fixed;
  bottom: 0px;
  gap: 10px;
  width: 360px;
  height: 54px;
  background: #ffffff;
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.08);
  border-radius: 12px 12px 0px 0px;
}
.icon-with-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 52px;
  height: 38px;
}
.icon-container {
  width: 24px;
  height: 24px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #4f1346;
}
.icons-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  /* color: #4b5768; */
  border: none;
}
.icon-title {
  width: 42px;
  height: 14px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f1346;
}
/* icons-wrapper End */
