.home-wrapper {
  width: 100vw;
  height: 100vh;
}
.home-wrapper::-webkit-scrollbar {
  display: none;
}
.img {
  width: 100vw !important;
  /* height: 234px; */
}
.prayer-container {
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1.5rem;
  color: var(--bg-white);
  text-align: center;
  gap: 2rem;
}
.pray {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.9;
  letter-spacing: 0.5px;
}
.en-iraivane {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.route-container {
  height: 45%;
  padding: .5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.index-card {
  width: 156px;
  height: 130px;
  padding: 1.75rem 1.25rem;
  border-radius: 12px;
  box-shadow: 0px 1px 4px 1px #00000014;
  /* border: .5px solid var(--Neutral100); */
}
.icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px !important;
  height: 40px;
  width: max-content;
  border-radius: 50%;
  color: var(--Neutral500);
}
.icon-name {
color: var(--text-primary);
font-size: 14px;
font-weight: 600;
}
