:root {
  --primary500: #5854c9;
  --primary600: #0055aa;
  --primary700: #003e7d;
  --primary800: #0c1f56;
  --primary900: #06102b;
  --placeholder: #647488;
  --Neutral100: #e7eaee;
  --Neutral200: #d0d5dd;
  --Neutral600: #4b5768;
  --bgwhite: #ffffff;
}

.landing_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 40px 24px;
  gap: 40px;
  /* align-items: center;
  justify-content: center; */
  /* background: url("../Assets/landing_page.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #ffffff;
}
.title-with-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 104px;
  height: 130px;
}
.landing-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  width: 102px;
  height: 46px;
}

.landing-title h4 {
  width: 102px;
  height: 29px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80%;
  color: var(--primary500);
}
.landing-title h6 {
  width: 40px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: var(--primary500);
}
.land-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 280px;
  height: 528px;
}

.logo-with-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  width: 362px;
  height: 362px;
  background-color: rgba(255, 255, 255);
  background-image: url("../Assets/Rectangle-bg.svg");
  background-blend-mode: hard-light;
  background-position: center;
}
.landing-text {
  width: 234px;
  height: 90px;
  padding: 32px 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 165%;
  text-align: center;
  color: var(--primary500);
  background-color: #ffffff;
  border: 0.5px solid #5f62d8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-text .start-btn {
  text-decoration: none;
}
.start-btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  /* position: absolute; */
  width: 140px;
  height: 36px;
  /* left: 35%; */
  /* bottom: 10%; */
  background-color: var(--primary500);
  border: 0.5px solid var(--primary500);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
