.preface {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  padding: 1.5rem;
  gap: 1rem;
}
.preface::-webkit-scrollbar {
  display: none;
}
.p-title {
  /* width: 90vw; */
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: var(--text-primary);
  text-align: center;
}
.p-para {
  height: auto;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-primary);
  text-align: left;
}
.font-weight {
  font-weight: 600;
}
.contributors-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 1.5rem;
}
.contributor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-bottom: .75rem;
}
.contributor-name {
  color: var(--text-primary);
  font-weight: 700;
  font-family: var(--font-family);
}
.contributor-id {
  color: var(--text-primary);
  font-family: var(--font-family);
}
.text-right {
  text-align: right;
}
