.settings-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  height: 100vh;
  padding: 0px;
  /* gap: 40px; */
}
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 0px;
  margin-top: 48px;
  border-radius: 6px;
}
.settings-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 24px 32px 40px; */
  gap: 20px;
  background: #ffffff;
  border-radius: 6px;
}
.lang-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 296px;
  height: 66px;
  border-radius: 6px;
}
.lang-box > p {
  width: max-content;
  height: 22px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #13161a;
}
.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 280px;
  height: 28px;
}
.btn-box > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  min-width: 86px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  text-align: center;
  color: var(--text-primary);
}
.btn-box > .active-eng-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 6.5rem;
  height: 28px;
  /* background: #4b00c2; */
  background: var(--btn-gradient);
  color: var(--bg-white);
  border-radius: 6px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}
.btn-box > .bi-ling-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  /* width: 7rem; */
  height: 28px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}
.tamil-btn {
  width: 42px;
  height: 34px;
  font-family: "Arial Unicode MS";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  text-align: center;
  color: #4b00c2;
}
.demo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  height: 240px;
  border-radius: 6px;
}
.demo-box > .chapter-list-wrapper {
  z-index: -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  height: 40px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  background: var(--bg-primary);
  border-bottom: 0.5px solid #e7eaee;
}
.chapter-list-wrapper::-webkit-scrollbar {
  display: none;
}
.chapter-list-wrapper::after {
  visibility: hidden;
}
.demo-box .chapter-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  width: max-content !important;
  height: 40px;
  border-radius: 8px 8px 0px 0px;
}
.chapter-list-items > li {
  list-style-type: none;
}
.list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  width: max-content !important;
  list-style-type: none;
  text-decoration: none;
  height: 16px;
  font-family: var(--font-family);
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--bg-white);
}
.verse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* padding: 6px; */
  gap: 6px;
  height: auto;
  background: #ffffff;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.verse-wrapper::-webkit-scrollbar {
  display: none;
}
.verse-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 10px;
  /* width: 95vw; */
  width: 100%;
  height: auto;
  background: #ffffff;
  /* border-radius: 6px; */
  border-bottom: 0.5px solid #e7eaee;
}
/* .line {
      width: 328px;
      height: 0px;
      border: 0.7px solid #e7eaee;
    } */
.verse-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  padding: 0px;
  gap: 10px;
  /* width: 93vw; */
  height: 20px;
}
.verse-num {
  width: 21px;
  height: 19px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 19px; */
  color: var(--text-primary);
}
.more-btn-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
    color: var(--text-primary);
  border: none;
  cursor: pointer;
}
.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.verse-text {
  /* width: 70vw; */
  height: auto;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 19px; */
    color: var(--text-primary);
}
.verse-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 90vw;
  height: auto;
}
.verse-link-item {
  width: 29px;
  height: 19px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: var(--link-primary);
}
.btn-wrapper {
  width: 76px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-wrapper button {
  color: var(--link-primary);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
.go-to-btn-box a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.go-to-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--bgwhite);
  background: var(--btn-gradient);
  border: none;
  border-radius: 4px;
  margin-bottom: 5rem;
}
