@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary400: #2b94ff;
  --primary500: #0071e3;
  --primary600: #0055aa;
  --primary700: #003e7d;
  --primary800: #0c1f56;
  --primary900: #06102b;
  --placeholder: #647488;
  --Neutral100: #e7eaee;
  --Neutral600: #4b5768;
  --bgwhite: #ffffff;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* border: 1px solid lightgray; */
}
.mobile-screen {
  /* min-width: 360px;
  max-width: 480px; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 48px auto 48px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.mobile-screen::-webkit-scrollbar{
  display: none;
}
/* Portal Starts */
#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  /* background-color: #f7f8f9; */
  width: 100vw;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
/* Portal Starts */


/* .show{
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0px;
  transition: 0.3s linear;
  display: flex;
  justify-content:stretch;
  align-items: center;
  background-color: #bfdbfe; 
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 40;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  padding: 0 7%;
}
.hidden{
  height: 4rem;
  width: 100%;
  z-index: 40;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  position: fixed;
  bottom: -80px;
  transition: 0.3s linear;

} */