@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary400: #2b94ff;
  --primary500: #0071e3;
  --primary600: #0055aa;
  --primary700: #003e7d;
  --primary800: #0c1f56;
  --primary900: #06102b;
  --placeholder: #647488;
  --Neutral100: #e7eaee;
  --Neutral600: #4b5768;
  --bgwhite: #ffffff;
}

body {
  box-sizing: border-box;
  width: 360px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow-y: scroll;
  /* border: 1px solid lightgray; */
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
