/* @import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  --text-primary: #4b5768;
  --icon-priamry: #647288;
  --menu-active: #33578d;
  --menu-inactive: #8496b1;
  --link-blue: #0071e3;
  --bg-primary: #243b5d;
  --bg-secondary: #628bc9;
  --bg-primary-gradient: linear-gradient(
    279deg,
    #243b5d -12.93%,
    #4b7cc3 123.53%
  );
  --link-primary: '#0071e3';
  --btn-gradient: linear-gradient(279deg, #243B5D -71.08%, #4B7CC3 174.39%);
  --font-family: "Nunito", sans-serif;
  --bg-white: #ffffff;
  --bg-light: #f7f8f9;
  --primary400: #2b94ff;
  --primary500: #33578d;
  --primary600: #0055aa;
  --primary700: #003e7d;
  --primary800: #0c1f56;
  --primary900: #06102b;
  --placeholder: #647488;
  --Neutral100: #e7eaee;
  --Neutral200: #d0d5dd;
  --Neutral500: #647288;
  --Neutral600: #4b5768;
  --bgwhite: #ffffff;
  --purpleprimary: #4f1346;
}
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 3.75rem;
  height: 3.75rem;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid var(--primary800);
  border-color: var(--primary800) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scroll-margin-temp {
  scroll-margin-top: 8rem !important;
}
.scroll-margin-keywords {
  scroll-margin-top: 4rem !important;
}
.scroll-margin-left {
  scroll-margin-left: 2rem;
}
body {
  box-sizing: border-box;
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.mobile-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
.mobile-screen::-webkit-scrollbar {
  display: none;
}
.no_scrollbar::-webkit-scrollbar {
  display: none;
}
/* Portal Starts */
#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  width: 100vw;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
/* Portal Starts */

/* .show{
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0px;
  transition: 0.3s linear;
  display: flex;
  justify-content:stretch;
  align-items: center;
  background-color: #bfdbfe; 
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 40;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  padding: 0 7%;
}
.hidden{
  height: 4rem;
  width: 100%;
  z-index: 40;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  position: fixed;
  bottom: -80px;
  transition: 0.3s linear;

} */

/* Styles for animation */
.verse-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.verse-wrapper.animate {
  transition: transform 0.5s ease-in-out;
}

.verse-wrapper.swipe-left {
  transform: translateX(-100%);
}

.verse-wrapper.swipe-right {
  transform: translateX(100%);
}
/* Header.css */
.modal-overlay {
  position: fixed;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: start;
  z-index: 10000 !important;
}

.modal-content {
  background: white;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.modal-content-quran {
  background: white;
  position: relative;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  padding-top: 7rem;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
