.cl-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
}
.cl-wrapper .cl-header {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  background: #1e226a;
  color: #fff;
  height: 48px;
  position: sticky;
  top: 0;
}
.cl-wrapper .cl-header .cl-header-title {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}
.cl-h-title,
.cl-header-title-length {
  font-size: 16px;
}
.cl-wrapper
  .cl-header
  .cl-header-title
  .cl-header-title
  .cl-header-title-length {
  font-size: 1rem;
  display: inline-block;
}
.cl-wrapper.cl-list-item-wrapper {
  width: 100vw;
}
.cl-header-title-length {
  padding: 0.25rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.cl-list-item {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid#f7f8f9;
}
.cl-wrapper.cl-list-item-wrapper .cl-list-item p {
  display: inline;
  font-size: 14px !important;
}
.cl-list-item-length {
  font-size: 14px;
  width: 42px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #f7f8f9;
  text-align: center;
}
.cl-header-closebtn > a > button {
  background-color: transparent;
  border: none;
}
