:root {
  --primary500: #5854c9;
  --primary600: #0055aa;
  --primary700: #003e7d;
  --primary800: #0c1f56;
  --primary900: #06102b;
  --placeholder: #647488;
  --Neutral100: #e7eaee;
  --Neutral600: #4b5768;
  --bgwhite: #ffffff;
}
* {
  box-sizing: border-box;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px;
  gap: 32px;
  width: 200px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 4px 0px 8px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 102px;
  height: 112px;
}
.title-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  width: 102px;
  height: 46px;
}
.title-sidebar h4 {
  width: 102px;
  height: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--primary500);
}
.title-sidebar h6 {
  padding: 0px 2px;
  gap: 10px;
  width: 42px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: var(--primary500);
}
.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 160px;
  height: 432px;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 160px;
  height: 192px;
}
.menu-container li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding: 8px 12px;
  gap: 10px;
  width: 160px;
  height: 32px;
  color: var(--primary500);
}

.list-title {
  width: max-content;
  height: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: var(--primary500);
}
.fs-12 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  width: 115px;
  font-size: 13px;
}
.list-icon {
  width: 1rem;
  height: 1rem;
  color: var(--primary500) !important;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 160px;
  height: 152px;
}
.settings-container li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 4px 8px 12px;
  gap: 10px;
  width: 160px;
  height: 32px;
}
.toggle-btn {
  width: 24px;
  height: 13.71px;
}
.settings-container li .lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 3px;
  width: 101px;
  height: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: var(--primary500);
}
.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 3px;
  width: 101px;
  height: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
.settings-container > .li-logout > .list-title {
  color: var(--primary500);
}
.settings-container > .li-logout {
  display: flex;
  justify-content: space-between !important;
}
.li > span > img {
  color: var(--primary500);
}
